.a-edit {
	background-color: #F3F3F3;
	width: 100%;
	min-height: 920px;
}

.a-edit > .session-form-box {
	display: flex;
	justify-content: center;
	background-color: lightgrey;
	min-height: 550px;
}

.a-edit-title {
	font-size: 18px;
	color: #333;
	font-weight: 500;
	margin: 15px 0px 15px 0px;
}

.a-edit-divider {
	width: 650px;
	margin: 36px 0px 28px 0px;
	border-top: 2px dotted #ccc;
}

.a-edit-item {
	width: 650px;
	margin: 10px 0 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

.a-edit-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.a-edit-label {
	text-align: right;
	color: rgb(51, 51, 51);
	width: 155px;
	margin-top: 8px;
	font-size: 16px;
	margin-right: 16px;
}

.a-edit-input {
	height: 35px;
	padding-left: 10px;
	background: #fff;
	border: 1px solid #ccc;
	color: #333;
	outline: none;
	width: 287px;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	// transition: border 0.3s;
}

.a-edit-buttons {
	display: flex;
	flex-direction: column;
	margin-right: 7px;
}

.a-edit-buttons input {
	width: 110px;
}

textarea.a-edit-input {
	height: 180px;
	padding-top: 10px;
}

.a-edit-other-link {
	margin: 72px 0px 20px 0px;
	font-size: 12px;
	color: rgb(129, 130, 133);
	font-weight: 400;
}

.track-edit-title {
	margin-top: 40px;
}

.edit-track-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.album-left {
	width: 467px;
	min-height: 1000px;
	background-color: #F7F7F7;
	padding-left: 20px;
}

.album-right {
	width: 478px;
	padding: 25px 0px 24px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}

.album-info-box {
	margin-top: 22px;
	width: 456px;
	height: 72px;
	background-color: white;
	padding: 10px 1px 10px 10px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	border-left: 1px solid #0687f5;
	display: flex;
}

.album-small-img {
	width: 72px;
	height: 72px;
	margin-right: 10px;
	display: block;
}

.album-small-img img, .empty-img {
	width: 70px;
	height: 70px;
	display: block;
}

.empty-img {
	border: 1px dashed #ccc;
}

.session-form-box .album-title {
	font-size: 20px;
	color: #363636;
}

.session-form-box .album-artist {
	font-size: 11px;
}

.session-form-box .album-artist span {
	font-weight: bold;
	font-size: 11px;
	color:  #363636;
}