body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button {
	margin: 20px 0px 0px 0px;
	display: inline-block;
	width: 300px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 36px;
	text-align: center;
	color: #fff;
	background-color: rgb(0,161,198);
	border-radius: 0;
	outline: none;
	background: rgb(0,161,198);
	border: none;
	cursor: pointer;
}

.button.disabled {
	background: #555;
	color: #ccc;
	opacity: 0.3;
	border: none;
}