.user-profile {
  display: flex;
  flex-direction: column;
  width: 975px;
  min-height: 88vh;
  padding: 35px 30px 80px 30px;
  margin: 0px 465px 40px 465px;
  background-color: rgb(255, 255, 255);
}

.user-main {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 975px;
}

.user-sidebar {
  width: 120px;
}

.user-avatar {
  width: 120px;
  height: 120px;
}

.user-title-location {
  word-wrap: break-word;
  margin: 0 0 1em;
}

.user-title {
  font-size: 14px;
  font-weight: 700;
  border-top: 0;
  margin: 0 0 3px;
  display: block;
}

.user-location {
  color: #888888;
  display: block;
  font-weight: 400;
  font-size: 12px;
}

.user-mid-col {
  width: 788px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.album-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  margin: 0 26px 30px 0;
}

.album-item:hover {
  text-decoration: underline;
}

.album-item-cover {
  width: 368px;
  height: 368px;
}

.album-item-label {
  color: #0687F5;
  font-size: 14px;
  font-weight: 700;
  margin: 0.7em 0 0.3em 0;
}
