.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 915px;
  height: 100%;
}

.user-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 915px;
  height: 100%;
  padding: 35px 30px 80px 30px;
  margin: 0px 465px 0px 465px;
}

.user-mid-col {
  width: 756px;
}

.user-sidebar {
  width: 120px;
}

.user-avatar {
  width: 120px;
  height: 120px;
}