.user-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 945px;
  padding: 0px 15px 0px 15px;
}

.user-nav-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}