#browse-wrapper {
  width: 100%;
  height: 43px;
  margin: 0;
  padding: 0;
  background: transparent;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FFFFFF;
  border-top: solid 5px #848484;
  background-color: #ececec;
  border-bottom: dotted #afafaf 1px;
}

.browse-header {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  width: 975px;
}

.browse-left, .browse-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.browse-logo {
  background-color: transparent;
}

.browse-right li, .browse-right li a, .browse-left li, .browse-left li a {
  background-color: transparent;
  color: #3EABC8;
  font-weight: 500;
  font-size: 13px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  text-decoration: none;
}

.browse-logout {
  cursor: pointer;
}

.browse-left li a:hover {
  color: #666666;
}