#header-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
	height: 106px;
}

.main-header {
	width: 100%;
	max-width: 1106px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 100%;
}

.left-header, .right-header {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.left-header {
	width: 100%;
}

.right-header {
	align-items: flex-end;
}

.logo {
	background-color: transparent;
}

.header-text {
	color: #408ea3;
	font-size: 16px;
	font-weight: 400;
}

.search-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.search-bar {
	width: 206px;
	padding: 0px 0px 0px 10px;
	margin-right: none;
	height: 26px;
	font-size: 13px;
	font-weight: 400;
	color: rgba(22,17,19,0.7);
	border: solid 1px #bebebe;
	border-right: none;
	border-radius: 3px 0px 0px 3px;
}

.search-submit-span {
	padding-top: 4px;
	padding-right: 2px;
	border: solid 1px #bebebe;
	border-left: none;
	border-radius: 0px 3px 3px 0px;
}

.search-submit {
	background: transparent;
	border: none;
	padding: 3px 3px 3px 3px;
}

.header-links, .login-signup ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-links li {
	border-right: 1px solid #e5e5e5;
	padding: 0px 12px 0px 5px;
}

.left-greeting li {
	border-right: 1px solid #e5e5e5;
	padding: 0px 10px 0px 10px;
}

.left-greeting li {
	background-color: transparent;
	color:#161113;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.header-links {
	align-items: center;
	// height: 25px;
}

.header-links li {
	display: flex;
	align-items: center;
}

.header-links li img{
	width: 25px;
	height: 25px;
}

.header-link {
	background-color: transparent;
	color:#161113;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

p.header-link.username {
	margin-left: 8px;
}

.header-link:hover {
	text-decoration: underline;
}

.header-links li:last-child {
	border-right: none;
	padding-right: 0;
}

.left-greeting .header-links li:first-child {
	padding-left: 0;
}

.left-greeting .header-links li:first-child p:hover {
	text-decoration: none;
}

.left-greeting .header-links li:first-child p {
	font-weight: 400;
	color: rgb(119, 119, 119);
}