.inline-player .next,
.inline-player .prev {
	background: transparent;
	background-size: 40px 12px;
	cursor: pointer;
	color: #000000;
	width: 20px;
	height: 12px;
	margin:0 0 1px;
}

.inline-player span.no-click {
	pointer-events: none;
	color:#C0C0C0;
}

.inline-player .play-pause {
	background-image: transparent url(https://s3.amazonaws.com/beatcamp-pro/playpause.gif) no-repeat 0 0;
	background:#fff;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	min-height: 50px;
	min-width: 54px;
}

.inline-player .play-pause:after {
	cursor: pointer;
	content:'';
	display: block;
	width: 0;
	height: 0;
	border-top: 11px inset transparent;
	border-bottom: 11px inset transparent;
	border-left: 20px solid #222;
	border-right:0;
	margin: 14px 0 0 18px;
}

.inline-player .play-pause.playing:after {
	cursor: pointer;
	content:'';
	border:0;
	border-left:7px solid #2d2d2d;
	border-right:7px solid #2d2d2d;
	height:22px;
	width:4px;
	margin: 14px auto;
}

.inline-player .play-pause.loading:after {
	background-image: url(https://s3.amazonaws.com/beatcamp-pro/playerbusy-noborder.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border:none;
	pointer-events: none;
	cursor: not-allowed;
	height: 42px;
	margin: 4px auto;
	width: 44px;
}

.middle-top {
	display: flex;
	flex-direction: row;
}

.song-title {
	font-weight: 500;
	padding-right: 0.5em;
}

#central-controls {
	display: flex;
}