.inline-player .next,
.inline-player .prev {
	background: transparent url(https://s3.amazonaws.com/beatcamp-pro/nextprev.png) no-repeat 0 0;
	background-size: 40px 12px;
	cursor: pointer;
	width: 20px;
	height: 12px;
	margin-top: 3px;
}

.inline-player .prev {
	margin-right: 5px;
}

.inline-player .next {
	background-position: 100% 0;
	margin-left: 5px;
}

.inline-player span.no-click {
	pointer-events: none;
	opacity: 0.25;
}

.inline-player .play-pause {
	background-image: transparent url(https://s3.amazonaws.com/beatcamp-pro/playpause.gif) no-repeat 0 0;
	background:#fff;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	min-height: 50px;
	min-width: 54px;
}

.inline-player .play-pause:after {
	cursor: pointer;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 11px inset transparent;
	border-bottom: 11px inset transparent;
	border-left: 20px solid #222;
	border-right:0;
	margin: 14px 0 0 18px;
}

.inline-player .play-pause.playing:after {
	cursor: pointer;
	content: '';
	border: c0;
	border-left: 7px solid #2d2d2d;
	border-right: 7px solid #2d2d2d;
	height: 22px;
	width: 4px;
	margin: 14px auto;
}

.inline-player .play-pause.loading:after {
	background-image: url(https://s3.amazonaws.com/beatcamp-pro/playerbusy-noborder.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border:none;
	pointer-events: none;
	cursor: not-allowed;
	height: 42px;
	margin: 4px auto;
	width: 44px;
}

.middle-controls {
	display: flex;
	flex-direction: column;
	margin-left: 12px;
}

.middle-top {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin-top: 10px;
}

.middle-bottom {
	display: flex;
	flex-direction: row;
}

.song-title {
	color: #363636;
	font-size: 12px;
	font-weight: 500;
	padding-right: 0.5em;
	line-height: 15px;
}

.song-time {
	color: #888888;
	font-weight: 400;
	padding-right: 0.5em;
	font-size: 12px;
	line-height: 15px;
}

#central-controls {
	display: flex;
}

.progress-container {
	width: 250px;
	margin-right: 10px;
}

.progress-slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 8px;
	border: 1px solid darkgray;
	background-color: #fefefe;
	margin: 0;
	outline: none;
}

.progress-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 22px;
	height: 12px;
	background-color: white;
	cursor: pointer;
	border: 1px solid darkgray;
	margin-left: -1px;
	border-radius: 1px;
}

.progress-slider::-moz-range-thumb {
	width: 22px;
	height: 12px;
	background-color: white;
	cursor: pointer;
	border: 1px solid darkgray;
	margin-left: -1px;
	border-radius: 1px;
}

.progress-slider::-moz-range-track {
	background: transparent;
	border: 0px;
}
