#header-wrapper {
  width: 100%;
  height: 105px;
  margin: 0;
  padding: 0;
  background: transparent;
  top: 0;
  left: 0;
  border-bottom: 1px solid #bebebe;
  display: flex;
  direction: column;
  justify-content: center;
}

.main-header {
  display: flex;
  overflow: hidden;
  background-color: #FFFFFF;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 22px;
  width: 1106px;
}

.left-header, .right-header {
  display: flex;
  flex-direction: column;
}

.left-header {
  width: 636px;
  justify-content: flex-start;
}

.logo {
  background-color: transparent;
}

.header-text {
  color: #408ea3;
  font-size: 16px;
  font-weight: 400;
}

.right-header {
  width: 448px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 20px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-bar {
  width: 206px;
  padding: 0px 0px 0px 10px;
  margin-right: none;
  height: 26px;
  font-size: 13px;
  font-weight: 400;
  color: rgba(22,17,19,0.7);
  border: solid 1px #bebebe;
  border-right: none;
  border-radius: 3px 0px 0px 3px;
}

.search-submit-span {
  padding-top: 4px;
  padding-right: 2px;
  border: solid 1px #bebebe;
  border-left: none;
  border-radius: 0px 3px 3px 0px;
}

.search-submit {
  background: transparent;
  border: none;
  padding: none;
}

.login-signup ul {
  display: flex;
}

.login-signup {
  margin-top: 15px;
}

.header-link {
  background-color: transparent;
  color:#161113;
  font-weight: 700;
  font-size: 16px;
  padding: 0px 12px 0px 5px;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid #e5e5e5;
}

.header-link:hover {
  text-decoration: underline;
}

.last-header-link {
  border-right: none;
  padding-right: 0;
}