.content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-main {
	height: 492.38px;
	width: 100vw;
	background-color: black;
	display: flex;
	justify-content: center;
}

.home-large {
	width: 971.61px;
	border-right: 2px solid #eef2f3;;
}

.home-large img {
	width: 971.61px;
	height: 492.38px;
}

.home-large img:hover {
	filter: brightness(130%);
	-webkit-filter: brightness(130%);
	-moz-filter: brightness(130%);
	-o-filter: brightness(130%);
	-ms-filter: brightness(130%);
}

.home-small {
	width: 339px;
}

.home-small li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	height: 162.89px;
	border-bottom: 2px solid #eef2f3;;
}

.home-small img {
	height: 162.89px;
	width: 339.38px;
}

.home-small img:hover {
	filter: brightness(130%);
	-webkit-filter: brightness(130%);
	-moz-filter: brightness(130%);
	-o-filter: brightness(130%);
	-ms-filter: brightness(130%);
}

.featured-albums-divider {
	margin-top: 50px;
	margin-bottom: 10px;
	width: 100%;
	max-width: 1106px;
}

.featured-albums-divider h3 {
	font-size: 14px;
	color: #408ea3;
	align-self: flex-start;
	margin-left: 10px;
}

.featured-albums {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 100%;
	max-width: 1106px;
}

.home-album {
	margin-bottom: 100px;
	height: 206px;
	padding: 13px 18px 13px 10px;
	background: #fff;
}

.home-album > a {
	text-decoration: none;
}

.home-album-cover {
	margin-bottom: 10px;
}

.home-album-cover > img {
	width: 200px;
	height: 200px;
}

.home-album-title, .home-album-artist {
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
}

.home-album-description {
	font-family: Georgia, Times, serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

a:link, a:visited {
	color: black;
}