.parking-page {
	min-height: 920px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.parking-page h1 {
	font-size: 30px;
	color: #333;
	font-weight: 500;
	margin: 15px 0px 15px 0px;
}